header {
	display: flex;
	flex-shrink: 0;
	flex-grow: 0;
}
header > div {
	width: 100%;
}

#controllerStatus {
	text-align: right;
}

#controllerStatus #status.red {
	color: #e74c3c;
}
#controllerStatus #status.orange {
	color: #f39c12;
}
#controllerStatus #status.green {
	color: #2ecc71;
}

.row {
	display: flex;
}
.toolbar {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid #3C3E4B;
	border-radius: 20px;
	padding: 7px;
}

.toolbar .buttons .toolbar-button {
	flex-shrink: 0;
	width: 100px;
	height: 100px;
	border-radius: 10px;
	margin: 15px;
	padding: 0;
	font-size: 50px;
	color: #9d9fb3;
}

.toolbar .buttons .toolbar-button.hasContent {
	font-size: 20px;
	text-align: center;
	line-break: anywhere;
	color: #e5e6f0;
}

.toolbar .buttons .toolbar-button.potentiometer {
	border-radius: 50%;
}