body {
	padding: 10px;
}

.form-input,
.button {
	width: 100%
}

.button:not(:last-child) {
	margin-bottom: 10px;
}

#image,
#keybind,
#fileName {
	cursor: pointer;
}

#color {
	height: 40px;
	padding: 5px 15px;
}