body {
	padding: 0;
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	flex-shrink: 0;
	flex-grow: 0;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 2;
	background-color: #1C1E2C;
	border-bottom: 1px solid #313341;
}

header .tab-nav {
	padding: 10px;
	cursor: pointer;
	width: 100%;
	text-align: center;
	color: #e2e4f3;
	border-left: none;
}

header .tab-nav.selected,
header .tab-nav:hover {
	background-color: #313341;
}

header .tab-nav:not(:last-child) {
	border-right: 1px solid #313341;
}

.tabs {
	margin-top: 40px;
	margin-bottom: 60px;
	overflow-y: auto;
}

.tab {
	display: none;
	padding: 10px;
}

.tab.selected {
	display: block;
}

.form-input {
	width: 100%;
}

.bottom-buttons {
	margin-top: 10px;
}

.bottom-buttons button {
	width: 100%;
	margin-bottom: 5px;
}

.bottom-buttons button:last-child {
	margin-bottom: 0;
}

footer {
	position: fixed;
	bottom: 0;
	display: block;
    width: 100%;
    text-align: end;
    padding: 10px;
	background-color: #1C1E2C;
	border-top: 1px solid #313341;
}

footer button:not(:last-child) {
	margin-right: 5px;
}